<properties>
    <fps>30</fps>

    <EnemyStats>
        <PathSorter>
            <Health>0</Health>
            <Speed>60</Speed>
        </PathSorter>
        <Normal>
            <Health>120</Health>
            <Speed>2</Speed>
            <Damage>20</Damage>
        </Normal>
        <NotNormal>
            <Health>200</Health>
            <speed>1</speed>
            <Damage>40</Damage>
        </NotNormal>
    </EnemyStats>

    <Shooters>
        <Archer>
            <Range>3</Range>
            <Speed>3</Speed>
            <Damage>20</Damage>
        </Archer>
        <Sniper>
            <Range>100</Range>
            <Speed>1</Speed>
            <Damage>70</Damage>
        </Sniper>
    </Shooters>

    <Wawes>
        <wave0>
            <Normal amount="2"/>
            <NotNormal amount="0"/>
        </wave0>
        <wave1>
            <Normal amount="5"/>
            <NotNormal amount="4"/>
        </wave1>
    </Wawes>

</properties>